---
layout: post
title: lei's
---

{% include header.html %}
<div class="container">

        <h2>{{ page.title }}</h2>
        <ul>
            {%  for post in site.posts %}
                <div class="jumbotron">
                  <h6>{{ post.title }}</h6>
                  <h6>{{post.date | date_to_string }} </h6>
                  <p><a class="btn btn-primary " role="button" href="{{post.url}}">Learn more</a></p>
                </div>
            {% endfor %}
        </ul>
    </div>
{% include footer.html %}
